


.obrasSection{
    width: 100%;
    position: relative;
}

.obrasSection .cont{
    float: left;
    position: relative;
    top: -15px;
    width: 50%;
    padding: 150px 25%;
    color: white;
    background-color: #B4ACAC;
}
